@use 'sass:math';

body {
  color: getColor(dark);
  direction: ltr;
  font: math.div($font-size-01, 1.6) $font-family-default;

  /* Support for IE. */
  font-feature-settings: 'liga' 0;

  font-kerning: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  height: 100%;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
}
