$colors: (
  dark: #403b45,
  grey1: #77757a,
  grey2: #bbb8bd,
  grey3: #e4e4e4,
  grey4: #f8f8f8,
  light: #fff,
  stone-dark: #d6c7c7,
  stone-100: #e2d8d7,
  stone-75: #e8e1e0,
  stone-50: #efebea,
  stone-25: #f7f5f5,
  primary: #0070f3,
);
