/* Font Family */
$font-family-default: 'Inter', sans-serif;
$font-family-default-mobile: '-apple-system', 'Helvetica Neue', helvetica, arial, sans-serif;

/* Font Weights */
$font-weight-01: 300;
$font-weight-02: 400;
$font-weight-03: 500;
$font-weight-04: 700;

/* Font sizes */
$font-size-01: 1rem; /* Default Font size */
$font-size-02: 6rem;
